.logo {
    box-sizing: border-box;
    display: block;
    max-width: 880px;
    height: 33px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

@media all and (max-width: 709px) {
    .logo {
        height: 24px;
    }
}